.dataTable {

  h2 {
    display: inline;
    margin-left: 50px;
    cursor: pointer;
  }

  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
    margin: 5%;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
  }
  th:nth-child(1),
  td:nth-child(1) {
    word-wrap: break-word;
    max-width: 25px;
    width: 25px;
    padding: 0;
  }

  tr:hover td {
    background-color: hotpink;
  }
  td.available, td.scheduled {
    text-transform: capitalize;
  }
  td.available:before {
    
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   margin-right: 10px;
   border-radius: 7.5px;
   background-color: green;
  }
  td.scheduled:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;

   }
}
